
  <footer class="footer">
    
  <div class="container">

      <div class="row">    
          <div class="footer-col" id="company">
              <h4>FARMICIO</h4>
              <p> 
                  Order fresh vegetable and fruits stock from the nearest farmer. ALso SELL your stock with proper price for natural manure.
              </p>
              <div class="social-links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
          <div class="footer-col" >
              <h4>Services</h4>
              <ul>
                  <li><a routerLink="/shop">Order</a></li>
                  <li><a routerLink="/">Sell old stock</a></li>
                  <li><a routerLink="/trackorder">track order</a></li>
              </ul>
          </div>
          <div class="footer-col" >
              <h4>Useful Links</h4>
              <ul>
                  <li><a routerLink="/home-s">Home</a></li>
                  <li><a routerLink="/faq">FAQ</a></li>
                  <li><a routerLink="/aboutus">About us</a></li>
                  <li><a routerLink="/contactus">Contact us</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>Feedback</h4>
              <input name="email" placeholder="Any Feedback / Query ......" type="email" required="" id="ed"><br>
              <button type="button" id="sub">Submit</button>
              <p id="email-d">
                  Getting your feedback is very important to us... 
              </p>
          </div>
      </div>
  </div>
  <div class="copyright">
      <div class="mt-0 mb-3 mb-sm-0">
          <p class="mb-0">
              © Website
              <a  href="#">2022</a> 
              | All Rights Reserved 
          </p>
      </div>
      <ul>
          <li >
              <a href="#">Privacy</a>
          </li>
          <li >
              <a href="#">Terms</a>
          </li>
          <li >
              <a href="#">Sitemap</a>
          </li>
          <li >
              <a href="#">Help</a>
          </li>
      </ul>
  </div>
</footer>
