<div class="con1">
<app-feature-card content="Fast Delivery" content2="24hrs delivery from order" icon="fa-solid fa-truck"></app-feature-card>
<app-feature-card content="Fast Delivery" content2="24hrs delivery from order" icon="fa-solid fa-truck"></app-feature-card>
<app-feature-card content="Fast Delivery" content2="24hrs delivery from order" icon="fa-solid fa-truck"></app-feature-card>
<app-feature-card content="Fast Delivery" content2="24hrs delivery from order" icon="fa-solid fa-truck"></app-feature-card>
</div>