.con1{
    background-color: #ffffff;
    padding: 10px;
    
   
  }
  .cat1{
    padding-top: 1px;
   padding-right: 1px;
    margin: 60px 200px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  .cat2{
   padding-top: 1px;
   padding-right: 1px;
    margin: 60px 200px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  .cat3{
    padding: 10px;
    margin: 20px 200px;
    background-color: #f7f7f7;
    border-radius: 10px;
  }
  .cat4{
    padding: 10px;
    margin: 20px 200px;
    background-color: #f7f7f7;
    border-radius: 10px;
  }
  .path{
      padding: 10px;
      margin-top: 7px;
      margin-left: 80px;
      font-size: 12px;
  }
  
  h2{
      font-size: 33px;
      margin-left: 35px;
      font-family: 'Artifika', serif;
  }
  .accordion {
      
      
      
      font-family: "Quicksand", sans-serif;
      background-color: #DAE2B6;
      font-family: "Poppins",sans-serif;
     margin: 20px;
    }
    
    .accordion__label,
    .accordion__content {
      padding: 14px 20px;
    }
    
    .accordion__label {
      display: block;
      color: #070000;
      font-weight: 500;
      cursor: pointer;
      position: relative;
      transition: background 0.1s;
      font-family: "Poppins",sans-serif;
    }
    
    .accordion__label:hover {
      background: rgba(0, 0, 0, 0.1);
    }
    
    .accordion__label::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      width: 12px;
      height: 6px;
      background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
      background-size: contain;
      transition: transform 1.3s;
    }
    
    .accordion__content {
      background: #FFFBE9;
      line-height: 1.6;
      font-size: 0.85em;
      display: none;
    }
    
    .accordion__input {
      display: none;
    }
    
    .accordion_input:checked ~ .accordion_content {
      display: block;
    }
    
    .accordion_input:checked ~ .accordion_label::after {
      transform: translateY(-50%) rotate(0.5turn);
    }
    .service .title h5, h3{
      font-family: 'Artifika', serif;
      font-weight: 500;
    }
    .service .title h5{
      font-size: 15px;
    }
    
    .service .title h3{
      font-size: 30px;
    }
    h2[_ngcontent-yrf-c304] {
      margin-left: 40px;
      font-size: 60px;
      font-weight:900;
      color: #FFFBE9;
      font-family: 'Artifika', serif;
  }
  .sub{
    max-height:fit-content;
    background-color:#CCD6A6;
    box-shadow: 0 10px 30px #0000000d;
    border-radius:10px;
    
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    min-width: 60%;
  }
  .sub p{
    font-size: 15px;
    font-weight: 600px;
    padding: 2px;
    margin-left: 10px;
    margin-top: 5px;
    padding-bottom: 20px;
    margin-bottom: -10px;
  }
  h3{
    font-size: 25px;
    font-weight: 600px;
    padding: 5px;
    margin-left: 20px;
    font-family: 'Artifika', serif;
    margin-top: 10px;
    padding-bottom: 5px;
    margin-bottom: -10px;
  }
  #right{
    margin-left: 0px;
  }