<div class="con1">
    <app-navbar></app-navbar>
    

        <div class="slider">
            <div class="content">
                <h1>Farmicio</h1>
                <p>Order fresh vegetable and fruits stock from the nearest farmer. ALso SELL your stock with proper price for natural manure.</p>
                <button routerLink="/shop">Go Shopping</button>
            </div>
            <img src="./../../../assets/images/homepage.png" height="400px">
        </div>



        
        <!---<div class="content">
            <div class="principal">
                
                <p id="btn"><a href="#">Go ordering</a></p>
            </div>
        </div>
        <img src="./../../../assets/images/homepage.png">-->
    
</div>

