<div class="con1">
    <div class="title">
        <h2>Top Selling</h2>
    </div>
    <div class="category">
        <app-topsell title= "Stock1" link="./../../../assets/images/orange-removebg-preview.png" prize="Rs.100"></app-topsell>
        <app-topsell title= "Stock2" link="./../../../assets/images/orange-removebg-preview.png" prize="Rs.100"></app-topsell>
        <app-topsell title= "Stock3" link="./../../../assets/images/apple-removebg-preview.png" prize="Rs.100"></app-topsell>
        <app-topsell title= "Stock4" link="./../../../assets/images/apple-removebg-preview.png" prize="Rs.100"></app-topsell>
        <app-topsell title= "Stock5" link="./../../../assets/images/orange-removebg-preview.png" prize="Rs.100"></app-topsell>
        <app-topsell title= "Stock6" link="./../../../assets/images/orange-removebg-preview.png" prize="Rs.100"></app-topsell>
    </div>
</div>
