<div class="box1">
    <div class="box">
        <div class="head">FARMER's PORTAL</div>
        <hr>
        <div class="content">
          <form>
            <div class="input1">
              <input type="text" placeholder="Email:">
            </div>
            <div class="input1">
              <input type="password" placeholder="Password:">
            </div>
            <div class="button1">
              <a>FARMER's SIGN-UP</a>
            </div>
          </form>
        </div>
      </div>
  </div>