.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  
  #name{
    cursor: default;
    font-size: 42px;
    font-weight: 500;
    font-family: 'baron';
    margin-left: 50px;
    color: rgba(22, 95, 0, 0.804);
  }
  
  .menu-list{
    margin: 15px 0px 15px 20px;
  }
  
  .menu-list a{
    margin: 10px 10px;
    padding: 12px 15px;
    color: rgba(22, 95, 0, 0.804);
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid transparent;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .menu-list a:hover{
    cursor: pointer;
    box-shadow: inset 0 0 3px #2aaf3e,
                inset 0 0 9px #51985e,
                inset 0 0 15px #bbfcb6;
  }