<div class="navbar">
    <div class="logo">
      <div id="name">FARMICIO</div>
    </div>
    <div class="menu-list">
      <a href="#" routerLink="/home-s">Home</a>
      <a href="#" routerLink="/shop">Shop</a>
      <a href="#" routerLink="/cart">Cart</a>
      <a href="#" routerLink="/orders">Orders</a>
      <a href="#" routerLink="/contactus">Contact us</a>
      <a href="#" routerLink="/aboutus">About us</a>
      <a><i class="fa-solid fa-bag-shopping icon"></i></a>
      <a><i class="fa-solid fa-user icon"></i></a>
  </div>
 </div>
 